* {

    margin: 0;
    padding: 0;
    box-sizing:border-box;
   

   
}

/* shared style */

.heading {
    font-family: "Noto Serif", serif;
}

.text {}

.container {

    width:1140px;
    margin: 0 auto;
    
   

}

p,
.li-description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* custom style */




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;


}

.navbar ul {
    display: flex;
    list-style: none;


}

.navbar ul a {
    margin-left: 45px;
    text-decoration: none;
}

.banner {
    display: flex;
    margin-top: 7.8rem;
    justify-content: center;
    align-items: center;
   
  
}
.banner img{
    width: 100%;
}

.banner-title {
    font-size: 60px;

}

.title-style {
    color: rgb(233, 90, 8);
}

/* main section 1*/

.section-1 {

    margin-top: 90px;
}

.section-1-title {

    font-size: 50px;
}

.section-text {
    text-align: center;
}

.section-shop {
    display: grid;
    margin: 30px 0;
    gap: 20px;
    grid-template-columns: repeat(4, 2fr);
}

.section-shop img{
    width: 100%;
}

.section-shop h4 {
    text-align: center;
    line-height: 1.4rem;

}

.section-shop button {
    background-color: rgb(233, 90, 8);
    border: none;
    width: 100%;
    height: 50px;
    font-weight: 600;
    color: white;
}


/* main section 2 */

.section-2-img1 {
    position: relative;
    margin: 0 10px;
    width: 100%;
 
   
    
}

.section-2-img2{
    
    
    width: 286px;
    height: 286px;
      position: absolute;
      top: -23%;
    left: 65%;
    
  
}
    






.section-2 {
    display: flex;

    justify-content: space-between;
    gap: 60px;
    margin-top: 20%;

}

.section-2-details {
    margin-top: 35px;
}

.sction-2-title {
    font-size: 50px;
}

.li-description {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 30px;




}



/* section-3 */


.section-3-title{

    margin-top: 70px;
    text-align: center;
    font-size: 40px;
}

.section-3-left{
   
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
   
}




.section-3-all img{
    border-radius: 1rem;
    display: block;
    filter: brightness(60%);
    
}


.section-3-all{
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
}




.img-content1{
    position: relative;
    display: inline-block;
}


.text-content1{
    position: absolute;
     top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align:center;
  color: white;
}

.text-content1 a{
    color: white;
}



/* section-4 */

.section-4{
    margin-top: 60px;
}

.section-4 img {
  width: 100%;
}

.section-4-btn{
    background-color:#E95A08;
    padding: 0.5rem;
}
.form-4{
    width:30vw;
    padding: .5rem;
}






/* footer-style */

.footer-style{
    display: flex;
    justify-content:space-between;
    
}

.footer-style ol{
    
}

.footer-style li{
     font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    list-style: none;
    line-height: 4rem;

}

.icon{
    display:block;
    gap: 20px;
   
}

/* media  */



@media (max-width:760px){

   .container{
    margin: 0;
    width: 100%;
   
   }

  
    .banner{
        flex-direction: column-reverse;
       

        
        
    }

.section-shop{
    grid-template-columns: repeat(2,2fr);
}
 
.section-2{
    flex-direction: column;


}


.section-2-img2{
   display: none;
}


.li-hidden{
    display: none;
}

.section-3-all{
    flex-direction: column;
}

.section-3-all img{
    width: 100%;
} 


.footer-style{
    flex-direction: column;
}
}